<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="zazltarget">
<locations>
<location path="${workspace_loc}/../targetplatform/equinox-SDK-3.6" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/dojo" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/http-client" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/json" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/jsp" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/junit" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/requirejs" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/rhino" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/shrinksafe" type="Directory"/>
<location path="${workspace_loc}/../targetplatform/uglifyjs" type="Directory"/>
</locations>
</target>
